@import "tailwindcss";

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  cursor: url("/cursor-pointer_0-4.png") 0 4, auto;
}

a {
  cursor: url("/cursor-hand_24-4.png") 24 4, auto;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(11.69rem);
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@theme {
  --color-link-blue: #0000ee;
  --color-link-purple: #551a8b;

  --text-base: 1.87rem;
  /* Safari is inconsistent with decimal line heights, so manually round 16px * 1.87 = 30px */
  --text-base--line-height: 30px;

  --text-heading: 5.75rem;
  --text-heading--line-height: calc(3*var(--text-base--line-height));

  /* three quarters has base line height */
  --text-three-quarters: 1.43rem;
  --text-three-quarters--line-height: var(--text-base--line-height);

  --text-half: 0.91rem;
  --text-half--line-height: calc(0.5*var(--text-base--line-height));

  --top-lines: 4;
  --hidden-top-lines: 0;
  --cta-button-lines: 4;
  --min-lines: 37;

  --font-hyperlinked: "Inter Tight", sans-serif;
  --font-cyber: "Orbitron", "Inter Tight", sans-serif
}

@media (max-width: 1536px) {

  /* For small computers */
  html {
    --hidden-top-lines: 2;
  }
}

@media (max-width: 768px) {

  /* For tablets */
  html {
    font-size: 14px;
    /* Safari is inconsistent with decimal line heights, so manually round 14px * 1.87 = 26px */
    --text-base--line-height: 26px;
    --hidden-top-lines: 0;
    --min-lines: 39;
  }
}

@media (max-width: 660px) {

  /* For mobile phones */
  html {
    font-size: 10px;
    /* Safari is inconsistent with decimal line heights, so manually round 10px * 1.87 = 19px */
    --text-base--line-height: 19px;
    --hidden-top-lines: 0;
    --min-lines: 40;
  }
}

@media (max-width: 470px) {

  /* For small mobile phones */
  html {
    /* --text-heading: 3.83rem;
    --text-heading--line-height: calc(2*var(--text-base--line-height)); */
    --hidden-top-lines: 0;
    /* --cta-button-lines: 3; */
  }
}