@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

@theme {
  --color-link-blue: #0000ee;
  --color-link-purple: #551a8b;
  --text-base: 1.87rem;
  --text-base--line-height: 1.87rem;
  --text-triple: 5.75rem;
  --text-triple--line-height: 5.75rem;
  --text-half: 0.91rem;
  --text-half--line-height: 0.91rem;
}

@media (max-width: 768px) {

  /* For tablets and smaller */
  html {
    font-size: 14px;
  }
}

@media (max-width: 520px) {

  /* For mobile phones */
  html {
    font-size: 10px;
  }
}