@import "tailwindcss";

body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  cursor: url("/cursor-real-finger_2-12.png") 2 12, auto;
}

a {
  cursor: url("/cursor-real-finger-tap_13-16.png") 13 16, auto;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(11.69rem);
  }
}

@keyframes shimmer {
  0% {
    background-position-x: 200%;
  }

  100% {
    background-position-x: 0%;
  }
}

@keyframes shimmer-pause {
  0% {
    transform: translateX(-100%);
  }

  25% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

input[type="range"].slideToUnlock::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 7px;
  background: url("/slider-thumb.png");
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(#fafafa 0%, #dedede 50%, #cfcfcf 51%, #a3a3a3 100%); */
  z-index: 1;
  width: 26%;
  height: 100%;
  position: relative;
  pointer-events: auto;
  cursor: url("/cursor-real-finger-tap_13-16.png") 13 16, auto;
}

input[type="range"].slideToUnlock::-webkit-slider-runnable-track {
  height: 90%;
}

input[type="range"].slideToUnlock::-moz-range-thumb {
  border-width: 0;
  border-radius: 7px;
  background-image: url("/slider-thumb.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  width: 24.8%;
  height: 90%;
  position: relative;
  pointer-events: auto;
  cursor: url("/cursor-real-finger-tap_13-16.png") 13 16, auto;
}

@theme {
  --color-link-blue: #0000ee;
  --color-link-purple: #551a8b;

  --text-base: 1.87rem;
  /* Safari is inconsistent with decimal line heights, so manually round 16px * 1.87 = 30px */
  --text-base--line-height: 30px;

  --text-heading: 5.75rem;
  --text-heading--line-height: calc(3*var(--text-base--line-height));

  --text-subhead: 3.16rem;
  --text-subhead--line-height: calc(5/3*var(--text-base--line-height));

  /* three quarters has base line height */
  --text-three-quarters: 1.43rem;
  --text-three-quarters--line-height: var(--text-base--line-height);

  --text-half: 0.91rem;
  --text-half--line-height: calc(0.5*var(--text-base--line-height));

  --top-lines: 4;
  --hidden-top-lines: 3;
  --min-lines: 39;

  --font-hyperlinked: "Inter Tight", sans-serif;
  --font-cyber: "Orbitron", "Inter Tight", sans-serif
}

@media (max-width: 1536px) {

  /* For small computers */
  html {
    --min-lines: 37;
  }
}

@media (max-width: 768px) {

  /* For tablets */
  html {
    font-size: 14px;
    /* Safari is inconsistent with decimal line heights, so manually round 14px * 1.87 = 26px */
    --text-base--line-height: 26px;
    --min-lines: 39;
  }
}

@media (max-width: 660px) {

  /* For mobile phones */
  html {
    font-size: 10px;
    /* Safari is inconsistent with decimal line heights, so manually round 10px * 1.87 = 19px */
    --text-base--line-height: 19px;
    /* --hidden-top-lines: 0; */
    --min-lines: 40;
  }
}

@media (max-width: 470px) {

  /* For small mobile phones */
  html {
    /* --text-heading: 3.83rem;
    --text-heading--line-height: calc(2*var(--text-base--line-height)); */
    /* --hidden-top-lines: 2; */
    /* --cta-button-lines: 3; */
  }
}